<!-- busca.ejs -->
<h1>Página de Busca</h1>
<form action="/buscaProdutos" method="get">
  <label for="codigo">Código:</label>
  <input type="text" id="codigo" name="codigo" />
  <!-- Adicione mais campos de filtro conforme necessário -->
  <button type="submit">Buscar</button>
</form>
