<!-- confirmacaoExclusao.ejs -->
<h1>Confirmação de Exclusão</h1>
<p>Você tem certeza que deseja excluir o produto <%= produto.id %> - <%= produto.nome %>?</p>
<a href="/excluirProduto/<%= produto.id %>">Sim</a>
<a href="/busca">Não</a>
